/*********************************************
 * Flexible CSS styling, v1.0
 * Able to append classes together, contains keywords "fcs-" with "-name"
 * Author: yuhan2013@outlook.com
 * Date: 15 April 2016
 *********************************************/


/* no padding block, page container */

[class*="fcs-"][class*="-block"] {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #555555;
    margin: 0px;
    padding: 0px;
    position: relative;
    border-radius: 0px;
    box-sizing: border-box;
    line-height: 1.42857143;
    background-color: #fff;
    display: block;
}


/* flex container */

[class*="fcs-"][class*="-flex"] {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: space-between;
}


/*navigation, absolute*/

[class*="fcs-"][class*="-nav"] {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}


/*head, will show on both small & large screen*/

[class*="fcs-"][class*="-head"] {
    margin-right: -15px;
    margin-left: -15px;
}


/* toggle menu btn, show on small */

[class*="fcs-"][class*="-ham"] {
    position: relative;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
}


[class*="fcs-"][class*="-menu"] {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    display: none;
}
[class*="fcs-"][class*="-menu"] [class*="fcs-"][class*="-flex"]{
    
    list-style: none;
}

/* flex from start */

[class*="fcs-"][class*="-flex"][class*="-start"] {
    justify-content: flex-start;
}
/*from end*/
[class*="fcs-"][class*="-flex"][class*="-end"] {
    justify-content: flex-end;
}


/* blur*/

[class*="fcs-"][class*="-blur"] {
    opacity: .5;
}


/*title text*/

[class*="fcs-"][class*="-title"] {
    margin: 0px;
    font-size: 24px;
    font-weight: normal;
}


/*larger title*/

[class*="fcs-"][class*="-title"][class*="-b"] {
    font-size: 34px;
}


/*smaller title*/

[class*="fcs-"][class*="-title"][class*="-s"] {
    font-size: 16px;
}


/* subtitle, using <small> tag*/

[class*="fcs-"][class*="-title"] small {
    white-space: nowrap;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 300;
}

[class*="fcs-"][class*="-title"][class*="-b"] small {
    font-size: 24px;
}

[class*="fcs-"][class*="-title"][class*="-s"] small {
    font-size: 11px;
}


/*  container, has padding*/

[class*="fcs-"][class*="-contain"] {
    padding: 10px;
}


/* text allign center*/

[class*="fcs-"][class*="-tac"] {
    text-align: center;
}


/* shadow */

[class*="fcs-"][class*="-card"] {
    box-shadow: 0px 0px 4px 0px;
    /* rgba(150, 146, 146, 0.83);*/
    border:1px solid;
}


/* no radius box*/

[class*="fcs-"][class*="-box"] {
    border-radius: 0px;
}


/* add padding to top & bottom*/

[class*="fcs-"][class*="-pad"] {
    padding-top: 10px;
    padding-bottom: 10px;
}


/* add padding to left & right*/

[class*="fcs-"][class*="-gap"] {
    padding-left: 10px;
    padding-right: 10px;
}


/* theme & coloring */


/* active or inactive*/

[class*="fcs-"][class*="-active"] {
    background-color: rgba(120, 188, 125, 0.4);
    color: #2A7538;
    border-color: #00A800;
}

[class*="fcs-"][class*="-inactive"] {
    background-color: rgba(188, 180, 180, 0.4);
    color: #cc3e3e;
    border-color: #cc3e3e;
}

[class*="fcs-"][class*="-blue"] {
    background-color: #3598DC;
    color: white;
}

[class*="fcs-"][class*="-green"] {
    background-color: #50A550;
    color: white;
}

[class*="fcs-"][class*="-purple"] {
    background-color: #8E44AD;
    color: white;
}

[class*="fcs-"][class*="-red"] {
    background-color: #ad4444;
    color: white;
}

[class*="fcs-"][class*="-silver"] {
    background-color: #f8f8f8;
    color: grey;
        border-color: #e7e7e7;
}


/*select & option*/

[class*="fcs-"][class*="-select"] option {
    padding: inherit;
    border-right: 1px solid grey;
}


/*responsive*/

@media (min-width: 768px) {
    /*    enlarge head*/
    [class*="fcs-"][class*="-head"] {
        margin-right: 0px;
        margin-left: 0px;
    }
    /*    show nav-toggle*/
    [class*="fcs-"][class*="-ham"] {
        display: none;
    }
    /*    show menu*/
    [class*="fcs-"][class*="-menu"] {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin:0;
    }
}
